html{
  margin: 0;
  padding: 0;  
  color: rgb(231, 231, 231);
  background: rgb(56,188,221);
background: linear-gradient(203deg, rgba(56,188,221,1) 0%, rgba(0,255,109,1) 100%);
width: 100%;
height: 100vh;
}